body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.navbar {
	margin-bottom: 30px;
}

.hoverWrapper:hover #hoverShow1 {
	display: block;
}

.hoverWrapper #hoverShow1 {
	display: none;
	position: absolute;
	background-color: #ff0000;
	width: 250px;
	height: 250px;
	left: 200px;
	top: 100px;
}
